<div class="container">
	<div class="col-md-6 col-md-offset-3" id="header">
		<h3>TOD Talk</h3>
	</div>
	<div class="row">
		<div class="col-md-8 col-md-offset-2" id="intro">
			<p>On March 23, 2015 Center for Neighborhood Technology's Young Innovators associate board convened a discussion about transit-oriented development and the many perspectives that emerge across generations. A panel of three experts discussed the state of TOD in Chicago and offered their personal views on the issue. Following the panel, we allowed guests to provide feedback on what they would like to see in and around transit-sheds. We created this interactive map to document the evening.</p>
		</div>
	</div>
	<div class="row top-buffer">
		<div class="col-md-6 col-md-offset-1" id="map">
			<%= javascript_include_tag 'map' %>
			<nav class='menu-ui'>
			  <a href='#' class='active' data-filter='all'>Show all</a>
			  <a href='#' data-filter='Feedback'>All Feedback</a>
			  <!-- <a href='#' data-filter='Feedback'>Feedback: Transportation</a>
			  <a href='#' data-filter='Feedback'>Feedback: Community Development</a>
			  <a href='#' data-filter='Feedback'>Feedback: Placemaking</a> -->
			  <a href='#' data-filter='Transit'>Transit</a>
			  <a href='#' data-filter='Divvy'>Divvy stations</a>

			</nav>
		</div>

		<div class="col-md-3 col-md-offset-1" id="toggle">
			<p>Heres where a description can go that is relevant to the feedback.</p>
		</div>
	</div>
</div>